/*--------------------- Responsive (Start) ---------------------*/
@media (max-width: 991px){

    /* Adjust font size for smaller screens */
    html{
        font-size: 55%; 
    }

    /* Hide the standard navbar */
    .header .navbar{ 
        display: none; 
    }

    /* Display the menu button */
    .header #menu-btn{ 
        display: initial; 
    }

    /* Style for the mobile menu */
    .mobile-menu { 
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 10000;
        max-height: 80vh;
        overflow-y: auto; 
        background: var(--white);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-box-shadow: var(--box-shadow);
                box-shadow: var(--box-shadow);
        border-top: 0.2rem solid var(--main-color);
        border-bottom: 0.2rem solid var(--main-color);
        padding: 2rem;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    } 
    
    /* Activate mobile menu */
    .mobile-menu.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    /* Style for the mobile navbar */
    .mobile-navbar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1rem;
    }

    /* Style for the mobile navigation links */
    .mobile-navbar .nav-link{
        border: 0.1rem solid var(--main-color);
        background: var(--main-color);
        border-radius: var(--border-radius);
        overflow: hidden;
    }

    /* Style for the main mobile navigation links */
    .mobile-navbar .main-nav-link{
        color: var(--white);
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer; 
        width: 100%;
        padding: 1.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify; 
        justify-content: space-between; 
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    /* Style for the mobile navigation links' anchor tags */
    .mobile-navbar .main-nav-link a{
        color: var(--white);
    }
    
    /* Style for sub navigation links in the mobile menu */
    .mobile-navbar .sub-nav-link {
        background-color: var(--white);
        padding: 1rem 0;
        padding-left: 4rem;
        padding-right: 1rem;
        display: none;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s;
    }
    
    /* Style for sub navigation links' anchor tags in the mobile menu */
    .mobile-navbar .sub-nav-link a{
        color: var(--grey);
        border-bottom: 0.1rem solid rgba(0,0,0,0.2);
        display: block;
        padding: 1rem 0rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
    
    /* Hover effect for sub navigation links in the mobile menu */
    .mobile-navbar .sub-nav-link a:hover{
        color: var(--main-color);
    }
    
    /* Styling for the mobile menu scrollbar */
    .mobile-menu::-webkit-scrollbar{
        width: 0.8rem; 
    }
    
    .mobile-menu::-webkit-scrollbar-thumb{
        border-radius: var(--border-radius);
        background-color: var(--main-color);
    }
    
    .mobile-menu::-webkit-scrollbar-track{
        background: transparent;
    }

    /* Responsive layout for blog grid and list */
    .blog.grid, .blog.list{
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    }

    /* Reverse the flex wrap order for shop items */
    .shop{
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    }
    
}

@media (max-width: 768px){

    /* Adjust padding for sections */
    section{
        padding: 3rem 2rem;
    }

    /* Adjust padding for header-1 */
    .header .header-1{
        padding: 0.5rem 2rem;
    }

    /* Adjust padding for header-2 */
    .header .header-2{
        padding: 0rem 2rem;
    }

    /* Adjust padding for footer box-container */
    .footer .box-container{
        padding: 2rem;
    }

    /* Adjust the positioning of the search container */
    .search-container{
        right: 1rem;
    }

    /* Adjust padding for home-item content */
    .home-item .content{ 
        padding: 2rem;
        padding-top: 8rem;
    }

    /* Positioning adjustments for testimonial slider navigation buttons */
    .testimonial-slider .swiper-button-next{
        right: 0rem;
    }
    
    .testimonial-slider .swiper-button-prev{
        left: 0rem;
    }
    
    /* Padding adjustments for testimonial slider */
    .testimonial-slider{
        padding: 0rem 7rem;
        padding-bottom: 4.5rem;
    }

    /* Width adjustment for portfolio items */
    .portfolio-item{
        width: 50%;
    }

    .contact-container{
        padding: 3rem 2rem;
    }
    
}

@media (max-width: 450px){
    
    /* Adjust font size for even smaller screens */
    html{
      font-size: 50%;
    }

    /* Adjust padding for sections */
    section{
        padding: 3rem 1rem;
    }

    /* Adjust padding for header-1 */
    .header .header-1{
        padding: 0.5rem 1rem;
    }

    .header .header-contacts {
        gap: 1rem
    }

    .header .header-contacts li {
        font-size: 1.4rem;
    }

    .header .social-contacts{
        gap: 0.5rem;
    }

    /* Adjust padding for header-2 */
    .header .header-2{
        padding: 0rem 1rem;
    }

    .page-title .title h2 {
        font-size: 4rem;
    }

    /* Adjust padding for footer box-container */
    .footer .box-container{
        padding: 1rem;
    }

    /* Adjust padding for home-item content */
    .home-item .content{ 
        padding: 1rem;
    }

    /* Remove gap between skills in team-single */
    .team-single .skills{
        gap: 0;
    } 

    /* Allow input boxes to wrap in the form */
    .form .input-box{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    /* Set the width of input boxes to 100% in the form */
    .form .input-box .box{
        width: 100%;
    }

    /* Adjust the maximum width of the account form */
    .account-form{
        max-width: 100%;
    }

    /* Set the width of portfolio items to 100% */
    .portfolio-item{
        width: 100%;
    }

    /* Padding adjustments for testimonial slider on smaller screens */
    .testimonial-slider{
        padding: 0rem 6rem;
        padding-bottom: 4.5rem;
    }
    /* Reduce the gap between product items in the list view */
    .shop .product-container.list .product-item {
        gap: 0rem;
    }
    /* Adjust the width of the product image in the list view */
    .shop .product-container.list .product-item .image {
        width: 30rem;
    }
    /* Add padding to the content of each product item in the list view */
    .shop .product-container.list .product-item .content {
        padding: 1rem;
        width: 100%;
    }
    /* Adjust the line height and remove bottom padding for paragraphs within the product item content in list view */
    .shop .product-container.list .product-item .content p {
        line-height: 1.5;
    }

    /* Set the width of leave-reply in product-info to 100% */
    .product-info .leave-reply{
        width: 100%;
    }

    .cart .cart-tag input {
        width: 100%;
    }

    .cart .cart-summary{
        max-width: 100%;
    }

    /* Allow input boxes to wrap in the contact form */
    .contact-form .input-box{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    /* Set the width of input boxes to 100% in the contact form */
    .contact-form .input-box .box{
        width: 100%;
    }

    .contact-container{
        padding: 3rem 1rem;
    }
    
}

/*--------------------- Responsive (End) ---------------------*/